<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/admin/basic">

	<th:block layout:fragment="content">
		<!--/* 페이징 결과를 Overwrite할 엘러먼트에 id를 paging으로 지정 */-->
		<div id="paging" class="contents">
			<div class="page_route">
				<a href="#" class="home" title="Home">Home</a>
				<a href="#" title="회원 관리">회원 관리</a>
				<a href="#" title="회원 목록">회원 목록</a>
			</div>

			<div class="inner">
				<h1 class="page_title">회원 목록</h1>

				<form th:action="@{/admin/user/list}" method="get" onsubmit="return searchUser(this)">
					<div class="search_box text_center">
						<dl>
							<dt>검색 유형</dt>
							<dd>
								<select name="searchType">
									<option value="">=======</option>
									<option th:each="type : ${T(com.dy.store.common.paging.constant.SearchType.UserSearchType).values()}" th:value="${type}" th:text="${type.value}" th:selected="${type == params.searchType}"></option>
								</select>
							</dd>
						</dl>
						<dl>
							<dt>키워드</dt>
							<dd>
								<input type="text" name="searchKeyword" class="wd150" th:value="${params.searchKeyword}" />
								<input type="submit" class="btn btn_search" value="검색" />
							</dd>
						</dl>
						<dl>
							<dt>보기</dt>
							<dd>
								<select name="recordCountPerPage" onchange="changeRecordCounrPerPage(this)">
									<option value="8">기본</option>
									<option th:each="seq : ${#numbers.sequence(5, 50, 5)}" th:value="${seq}" th:text="${seq} + '개씩'" th:selected="${seq == params.recordCountPerPage}"></option>
								</select>
							</dd>
						</dl>
					</div>
					<!--/* .search_box */-->
				</form>

				<div class="board_list">
					<table>
						<caption></caption>
						<colgroup>
							<col style="width: 5%" />
							<col style="*" />
							<col style="width: 20%" />
							<col style="width: 15%" />
							<col style="width: 15%" />
							<col style="width: 15%" />
						</colgroup>
						<thead>
							<tr>
								<th>번호</th>
								<th>아이디</th>
								<th>닉네임</th>
								<th>권한</th>
								<th>잠김</th>
								<th>관리</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty( users )}" th:each="row, status : ${users}">
								<td th:text="${row.id}"></td>
								<td th:text="${row.email}"></td>
								<td th:text="${row.nickname}"></td>
								<td>
									<select name="authorities" th:with="authorities=${T(com.dy.store.authority.constant.Authority).values()}">
										<option th:each="authority, status : ${row.authorities}" th:value="${#strings.replace(authority, 'ROLE_', '')}" th:text="${row.authorityNames[status.index]}"></option>
									</select>
								</td>
								<td>
									<select th:onchange="changeAccountStatus([[ ${row.id} ]], [[ ${row.email} ]], this)">
										<option value="5" th:selected="${row.failedCount >= 5}">Y</option>
										<option value="0" th:selected="${row.failedCount < 5}">N</option>
									</select>
								</td>
								<td>
									<input type="button" class="btn btn_gray" value="삭제" th:onclick="deleteUser([[ ${row.email} ]], [[ ${params.paginationInfo.makeSearchQueryString(params.currentPageNo)} ]])" />
								</td>
							</tr>
							<tr th:unless="${not #lists.isEmpty( users )}">
								<td colspan="6">존재하지 않는 회원입니다.</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--/* //.board_list */-->

				<!--/* common.html의 paging fragment */-->
				<div th:replace="fragments/common :: paging"></div>
			</div>
			<!--/* //.inner */-->
		</div>
		<!--/* //.contents */-->
	</th:block>

	<th:block layout:fragment="script">
		<script th:inline="javascript">
		/* <![CDATA[ */

			/**
			 * 사용자 목록 Ajax 호출 결과 HTML을 화면에 렌더링
			 */
			function printUserListHtml(uri) {

				/*[- Ajax 호출 -]*/
				$.get(uri + "&isAjax=true", function(response) {
					$("#paging").html(response);

					/*[- 비동기 처리에서 도메인(주소) 변경 -]*/
					if (isPushStateAvailable() == true) {
						history.pushState(null, null, uri); /*[- state, title, uri -]*/
					}
				}, "html");

				return false;
			}
			/*[- end of function -]*/


			/**
			 * 사용자 검색
			 */
			function searchUser(form) {

				var isValidated = isValid(form.searchKeyword, "키워드", null);
				if (isValidated == false) {
					return false;
				}

				/*[- 파라미터 쿼리 스트링 -]*/
				var queryString = /*[[ ${params.paginationInfo.makeQueryString(1)} ]]*/;

				/*[- 검색 유형, 검색 키워드를 포함한 Request URI -]*/
				var uri = form.action + queryString;
				uri += "&searchType=" + form.searchType.value + "&searchKeyword=" + form.searchKeyword.value;

				printUserListHtml(uri);

				return false;
			}
			/*[- end of function -]*/


			/**
			 * 출력 데이터 수 변경
			 */
			function changeRecordCounrPerPage(obj) {

				/*[- 파라미터 쿼리 스트링 -]*/
				var queryString = /*[[ ${params.paginationInfo.makeQueryString(1)} ]]*/;
				/*[- 쿼리 스트링에서 특정 파라미터 값 설정에 사용하는 인스턴스 -]*/
				queryString = new URLSearchParams(queryString);
				queryString.set("recordCountPerPage", obj.value);

				/*[- 검색 유형, 검색 키워드를 포함한 Request URI -]*/
				var uri = obj.form.action + "?" + queryString;
				uri += "&searchType=" + obj.form.searchType.value + "&searchKeyword=" + obj.form.searchKeyword.value;

				printUserListHtml(uri);
			}
			/*[- end of function -]*/


			/**
			 * 사용자 계정 상태 변경
			 */
			function changeAccountStatus(id, email, obj) {

				var uri = /*[[ @{/users/} ]]*/;
				uri += id;

				var params = { "id" : id, "email" : email, "failedCount" : obj.value };

				$.ajax({
					url : uri,
					type : "patch",
					headers : getHeaders("patch"),
					dataType : "json",
					data : JSON.stringify(params),
					async : false,
					success : function(response) {
						if (response.result == false) {
							alert("계정 상태 변경에 실패하였습니다.");
							return false;
						}

						alert("계정 상태 변경이 완료되었습니다.");
					},
					error : function(request, status, error) {
						alert("오류가 발생하였습니다.");
					}
				});
				/*[- end of ajax -]*/

				return false;
			}
			/*[- end of function -]*/


			/**
			 * 사용자 삭제
			 */
			function deleteUser(email, queryString) {

				var message = "\"" + email + "\" 계정을 삭제할까요?";
				if (confirm(message) == false) {
					return false;
				}

				var uri = /*[[ @{/users/} ]]*/;
				uri += email;

				$.ajax({
					url : uri,
					type : "delete",
					headers : getHeaders("delete"),
					dataType : "json",
					async : false,
					success : function(response) {
						if (response.result == false) {
							alert("계정 삭제에 실패하였습니다.");
							return false;
						}

						/*[- 검색 유형, 검색 키워드를 포함한 Request URI -]*/
						uri = /*[[ ${#request.requestURI} ]]*/;
						uri += queryString;

						printUserListHtml(uri);
						alert("계정 삭제가 완료되었습니다.");
					},
					error : function(request, status, error) {
						alert("오류가 발생하였습니다.");
					}
				});
			}
			/*[- end of function -]*/

		/* ]]> */
		</script>
	</th:block>

</html>