/* 반응형  */

.mobile_block {display:none !important;}

@media screen and (max-width: 1280px) {
	/* Header st. */
	.header_wrap nav > a {padding: 0 45px;}


	/* Contents */
	.inner {width: 1000px; margin: 0 auto;}
}

@media screen and (min-width: 1023px) {
	.header_wrap .gnb_wrap .depth2 {display:none;}
	.gnb_bg {display:none;}
}

@media screen and (max-width: 1023px) {
	.mobile_none {display:none !important;}
	.mobile_block {display:block !important;}



	/* ********** UI ****************************** */
	/* Btn */
	.btn {height: 35px; padding: 0 10px; line-height: 35px; font-size: 13px;}

	.btn_wrap .btn {width: 80px; height: 35px; line-height: 35px; font-size: 13px;}

	/* Label */
	.label {font-size: 12px;}

	/* Input, Select, Textarea */
	input[type="text"],
	input[type="search"],
	input[type="password"],
	input[type="file"],
	input[type="submit"],
	input[type="button"] {height:35px; padding: 0 5px;}
	select {height: 35px; padding: 0 25px 0 5px; font-size: 13px;}


	/* Layer popup */
	.popup_inner {max-width: 96%; width: 96%; margin: 50px auto;}
	.popup_inner .btn_close {width: 45px; height: 45px;}
	.popup_inner .popup_header p {height: 45px; line-height: 45px; padding: 0 20px; font-size: 18px;}


	/* File */
	.filebox input[type='text'] {height: 35px;}
	.filebox label {width: 50px; height: 35px; padding: 0 15px; line-height: 35px;}


	/* Header st. */
	.header_wrap {position: fixed; top: 0; left: 0; right: 0; width: 100%; z-index: 99; background: #fff;}
	.header_wrap .logo {float: none; width: auto; height: 50px; line-height: 50px; font-size: 20px;}

	.header_wrap .gnb {float: none; position: fixed; right: -280px; top: 0; bottom: 0; width: 280px; height: 100%; background: #fff; z-index: 3;}
	
	.header_wrap .utill {position: relative; padding: 10px 15px; border-bottom: 1px solid #ddd; background: #000;}
	.header_wrap .utill li {margin-left: 10px; padding: 0;}
	.header_wrap .utill li a {height: auto; padding: 5px 10px; color: #fff; line-height: normal; border: 1px solid #fff;}
	.header_wrap .utill li:last-child a {padding-right: 10px; border-right: 1px solid #fff;}
	.header_wrap .utill li.btn_gnb_close {position: absolute; left: 0; top: 0; bottom: 0; width: 50px; height: 50px; padding: 0;}
	.header_wrap .utill li.btn_gnb_close a {display: block; height: 50px; background: url('../../images/common/ic_close_white.png') center center no-repeat; background-size: 20px; border: 0; text-align: left; text-indent: -9999px;}

	.header_wrap nav > a {display: block; height: 50px; padding: 0 25px; text-align: left; line-height: 50px; font-size: 16px; border-bottom: 1px solid #ddd; background: url('../../images/common/ic_arrow_next.png') right 15px center no-repeat;}
	
	.btn_gnb {position: fixed; top: 0px; right: 1.5%; width: 50px; height: 50px; line-height: 40px; font-size: 12px; text-align: left; text-indent: -9999px; background: url('../../images/common/ic_nav.png') center center no-repeat;}
	.gnb_bg {display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 2; text-indent: -9999px;}


	/* Footer st. */
	.go_top {bottom: 15px; right: 15px; width: 30px; height: 30px; background-size: 100% !important;}
	

	/* Main st. */
	.main_visual .main_slide div {height: 400px;}


	/* Contents */
	#container {min-height: calc(100vh - 113px); padding-top: 50px;}
	.inner {width: 100%; padding: 0 3%;}


	/* 목록 */
	.sub_goods .title {font-size: 16px; text-align: center;}

	.sub_goods .search_wrap {float: none; margin-top: 5px; text-align: right;}

	.search_wrap > div input {width: 130px;}
	

	/* Paging */
	.paging {margin: 10px 0 30px;}
	.paging a {margin: 0 5px; line-height: 25px; font-size: 14px;}

	.paging a.btn_arrow {width: 20px; height: 20px;}
	.paging a.btn_previous {margin-right: 5px;}
	.paging a.btn_next {margin-left: 5px;}
	

	/* 상세 */
	.view {padding-top: 20px;}

	.view .slide_wrap {float: none; width: 100%; padding-right: 0;}

	.view .pd_info_wrap {float: none; width: 100%; margin-top: 20px;}

	.view .pd_title_wrap {position: relative; padding-bottom: 10px; border-bottom: 1px solid #ddd;}
	.view .pd_title_wrap .pd_title {font-size: 24px;}
	.view .pd_title_wrap .pd_price {font-size: 20px;}
	.view .pd_title_wrap .pd_review {bottom: 10px;}

	.view .pd_option_wrap .pd_option {margin-top: 10px;}

	.view .pd_option_wrap .pd_option.option_color {padding-right: 0;}

	.view .pd_option_wrap .pd_option.option_size {padding-right: 0;}
	.view .pd_option_wrap .pd_option.option_size .radio_size span {width: 50px; height: 35px; line-height: 35px;}

	.view .option_quantity button {width: 35px; height: 35px;}

	.view .pd_info_wrap .btn_wrap {margin-top: 20px;}
	.view .pd_info_wrap .btn_wrap .btn {width: 49%; height: 45px; line-height: 45px;}
	.view .pd_info_wrap .btn_wrap .btn_black {margin-right: 2%;}
	.view .pd_info_wrap .btn_wrap .btn_gray {margin-right: 2%;}

	.view .pd_detail_wrap {padding-top: 30px;}
	.view .pd_detail_wrap .pd_detail_tab {margin-bottom: 20px;}
	.view .pd_detail_wrap .pd_detail_tab a {margin: 0 10px; font-size: 16px;}

	.view .pd_detail_wrap .pd_delivery dl dt {margin: 20px 0 5px;}


	/* 장바구니 */
	.cart_wrap {padding-top: 20px;}

	.cart_wrap .cart {float: none; width: 100%;}
	.cart_wrap .total_price {float: none; width: 100%; margin-top: 20px;}


	/* 주문/결제 */
	.order_wrap {padding-top: 20px;}
}

@media screen and (max-width: 769px) {
	/* Footer st. */
	.footer_wrap {padding: 10px 0 15px;}
	.footer_wrap .footer_menu ul > li a {padding: 0 7px; font-size: 12px;}

	.copyright .inner p {line-height: 20px;}
	.copyright .inner p > span {display: inline-block; padding: 0 10px 0 0;}
	

	/* Main st. */
	.main_visual .main_slide div {height: 300px;}

	.main_visual .slick-dots {bottom: 15px;}
	.main_visual .slick-dots li {height: 10px;}
	.main_visual .slick-dots li button {width: 10px; height: 10px;}

	.main_goods {margin-top: 25px;}

	.main_goods .title {font-size: 18px; margin-bottom: 15px;}

	.main_goods ul > li {width: 48%; margin-right: 4%; margin-bottom: 15px;}
	.main_goods ul > li:nth-child(2n+2) {margin-right: 0;}
	.main_goods .btn_more {width: 100%; margin: 10px auto 30px; font-size: 13px;}

	.main_goods .txt_wrap {margin-top: 5px;}
	.main_goods .txt_wrap .name {font-size: 13px; font-weight: 500; margin-bottom: 0;}
	.main_goods .txt_wrap .price {font-size: 16px; font-weight: 500;}


	/* 리뷰 팝업 */
	#reviewPop .popup_inner {width: 94%;}
	#reviewPop .popup_contents {padding: 10px 20px 20px;}

	#reviewPop .review_info .img_box {width: 80px;}
	#reviewPop .review_info .txt_box {width: calc(100% - 90px); padding-left: 15px;}
	#reviewPop .review_info .txt_box p {font-size: 14px;}
	#reviewPop .review_info .txt_box strong {font-size: 14px;}

	#reviewPop .review_star {margin: 10px 0;}
	#reviewPop .review_star .ic_star_lg {width: 25px; height: 25px; background-size: 100% !important;}
	#reviewPop .review_star .ic_star_lg.active {background-size: 100% !important;}

	#reviewPop .review_cont textarea {height: 70px;}
	#reviewPop .review_cont .filebox {margin-top: 10px;}
	#reviewPop .btn_wrap {margin-top: 10px;}
	#reviewPop .btn_wrap .btn {width: 100%;}


	/* Join */
	.join_com_box .box > img {width: 60px;}


	/* 장바구니 */
	.table {display: block; border-top: 1px solid #000;}
	.table.table_head {display: none;}
	.table .table_row {display: block; border-bottom: 1px solid #ddd;}
	.table .table_row > * {display: block; vertical-align: middle;}
	.table.table_body .table_row > * {border-bottom: 0;}

	.cart_wrap .cart {}
	.cart_wrap .table .table_row > .col1 {width: 30px;}
	.cart_wrap .table .table_row > .col3 {width: 100%;}
	.cart_wrap .table .table_row > .col4 {width: 100%;}

	.cart_wrap .table .table_row {position: relative; padding: 10px; padding-left: 30px;}
	.cart_wrap .table .table_row .col1 {position: absolute; top: 15px; left: 0;}
	.cart_wrap .table.table_body .table_row > * {height: auto}
	.cart_wrap .table.table_body .table_row > .col2 {text-align: left; line-height: normal;}
	.cart_wrap .table.table_body .table_row > .col3 {margin-top: 5px; padding-left: 93px; text-align: left;}
	.cart_wrap .table.table_body .table_row > .col4 {margin-top: 10px; padding-left: 90px;}

	.cart_wrap .table .img_box {width: 80px; vertical-align: top;}
	.cart_wrap .table .txt_box {width: calc(100% - 90px); padding-left: 10px;}
	.cart_wrap .table .col4 .btn {width: 49%;}
	.cart_wrap .table .btn_gray {margin-top: 0;}

	.cart_wrap .sm_btn_wrap .btn {font-size: 11px;}

	.cart_wrap .total_price {padding: 0 15px 20px; background: #eee;}
	.cart_wrap .price {margin-bottom: 15px;}
	.cart_wrap .price p {padding-top: 15px; font-size: 14px;}
	.cart_wrap .price p.last {margin-top: 15px;}

	.cart_wrap .total_price .btn_wrap .btn_gray {margin-top: 5px;}

	#optionPop .popup_contents {padding: 10px 20px 20px;}
	#optionPop .popup_contents .pd_info_wrap {margin-top: 0;}


	/* 주문/결제 */
	.order_wrap .box {margin-bottom: 20px; padding: 10px 15px;}
	.order_wrap .box dt .check_style {margin-left: 5px !important;}

	.order_wrap .pd_box .img_box {width: 80px; vertical-align: top;}
	.order_wrap .pd_box .txt_box {width: calc(100% - 90px); padding-left: 10px; line-height: 20px;}

	.order_wrap input.type4 {width: calc(100% - 104px);}
	.order_wrap input.type5 {width: 100%;}

	.order_wrap .pay_box div button {width: 50%; margin-right: 0; font-size: 14px;}

	#addressPop .popup_contents {padding: 10px 20px 20px;}
	#addressPop .table.table_body .table_row {position: relative; padding: 10px; padding-right: 70px;}
	#addressPop .table.table_body .table_row > * {height: auto; padding-bottom: 2px; text-align: left;}
	#addressPop .table .table_row > .col1 {width: 100%;}
	#addressPop .table .table_row > .col2 {}
	#addressPop .table .table_row > .col3 {width: 100%; padding-bottom: 0;}
	#addressPop .table .table_row > .col4 {position: absolute; right: 10px; bottom: 10px; width: auto;}
	#addressPop .table .label_basic {display: inline-block; margin-left: 10px;}

	.order_com_wrap .com_box > img {width: 60px;}
	.order_com_wrap .com_box > p {font-size: 16px;}
	.order_com_wrap .user_box {float: none; width: 100%; margin-right: 0}
	.order_com_wrap .pay_box {float: none; width: 100%;}
}

@media screen and (max-width: 481px) {
	/* Contents */
	.page_title {font-size: 22px;}


	/* Login */
	.login_wrap {width: 100%; padding: 20px 3%;}
	.login_wrap .page_title {margin-bottom: 20px; font-size: 22px;}
	.login_wrap .login .input_box {height: 40px; padding: 0 20px; font-size: 14px;}
	.login_wrap .login .find_wrap a {font-size: 14px;}
	.login_wrap .login .btn_wrap .btn {height: 40px; line-height: 40px; font-size: 14px;}


	/* Join */
	.join_box {width: 100%; padding: 20px 3%;}
	.join_box .page_title {margin-bottom: 20px; font-size: 22px;}
	.join_box .agree_box textarea {height: 100px;}
}

@media screen and (max-width: 361px) {
	/* Main st. */
	.main_visual .main_slide div {height: 200px;}
}