@import url(common.css); /* 초기화 */

.scrollOff{position: fixed; overflow: hidden; width: 100%; height: 100%;}
/************************************************************************************
UI st.
*************************************************************************************/
/* Input, Select, Textarea */
input[type="text"],
input[type="search"],
input[type="password"] {height: 40px; padding: 0 15px;}
input[type="file"],
input[type="submit"],
input[type="button"] {height: 40px; padding: 0 15px;}
select {height: 40px; padding: 0 20px 0 10px; font-size: 14px; border-radius: 0px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #fff url('../../user/images/common/ic_arrow_down.png') right 5px center no-repeat; background-size: 10px; font-family: 'NotoSans';}
select::-ms-expand {display: none;}
textarea {width: calc(100% - 22px); padding: 10px; font-family: 'NotoSans';}


/* File */
.filebox > * {display: inline-block; vertical-align: top;}
.filebox input[type='text'] {height: 40px; font-size: 14px;}
.filebox label {width: 70px; height: 38px; padding: 0 15px; text-align: center; line-height: 38px; overflow: hidden; cursor: pointer;}
.filebox label input {display: none; position: absolute; right: 0; width: 0; height: 0; overflow: hidden; border: 0;}


/* Radio, Checkbox */
.radio_style {display: inline-block; vertical-align: middle; margin-right: 10px; min-height: 18px; line-height: 18px;}
.radio_style input[type='radio'] {display: none;}
.radio_style > span {display:inline-block; vertical-align: top; min-height: 18px; padding-left: 23px; line-height: 18px; color: #666; background: url('../../user/images/common/img_radio_off.png') left top no-repeat;}
.radio_style input:checked + span {color: #333; background: url('../../user/images/common/img_radio_on.png') left center no-repeat;}

.check_style {display: inline-block; vertical-align: middle; margin-right: 10px; min-height: 15px; line-height: 15px;}
.check_style input[type='checkbox'] {display: none;}
.check_style > span {display:inline-block; vertical-align: top; min-height: 15px; padding-left: 20px; line-height: 15px; color: #666; background: url('../../user/images/common/img_check_off.png') left top no-repeat;}
.check_style input:checked + span {color: #333; background: url('../../user/images/common/img_check_on.png') left center no-repeat;}

.radio_style:last-child,
.check_style:last-child {margin-right: 0;}


/* Layer popup */
.popup_wrap {display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 999;  transition: all.5s ease; overflow-y: auto;}
.popup_inner {position: relative; max-width: 1000px; margin: 50px auto; background: #fff; border-radius: 15px; z-index: 2; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}
.popup_inner .btn_close {position: absolute; right: 0; top: 0; width: 55px; height: 55px; background: url('../../user/images/common/ic_close.png') center center no-repeat; background-size: 20px; text-indent: -9999px; z-index: 99; border: 0; cursor: pointer;}
.popup_inner .popup_header {position: relative;}
.popup_inner .popup_header p {height: 55px; line-height: 55px; padding: 0 25px; font-size: 20px; letter-spacing: 0; font-weight: 500; color: #000;}
.popup_inner .popup_contents {}

.popup_bg {position: fixed; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); z-index: 1;}


/* Color */
.white {color: #fff !important;}
.black {color: #000 !important;}
.darkgray {color: #3b3b3b !important;}
.lightgray {color: #7b7b7b !important;}
.skyblue {color: #5094bf !important;}
.orange {color: #ee782f !important;}


/* Background */
.bg_lightgray {background: #f9f9f9;}


/* Border */
.bor_non {border: 0 !important;}
.bor_top_non {border-top: 0 !important;}
.bor_right_non {border-right: 0 !important;}
.bor_bottom_non {border-bottom: 0 !important;}
.bor_left_non {border-left: 0 !important;}

.bor_top1 {border-top: 1px solid #ddd !important;}
.bor_right1 {border-right: 1px solid #ddd !important;}
.bor_bottom1 {border-bottom: 1px solid #ddd !important;}
.bor_left1 {border-left: 1px solid #ddd !important;}


/* Btn */
.btn_wrap:after {display: block; visibility: hidden; clear: both; content: "";}
.btn {display: inline-block; height: 40px; padding: 0 30px; line-height: 40px; font-size: 14px; text-align: center; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; vertical-align: top; cursor: pointer;}
input.btn {display: inline-block; height: 40px; padding: 0 30px; line-height: 40px; font-size: 14px; text-align: center; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; vertical-align: top; cursor: pointer;}

.btn_gray {color:#fff !important; background: #888; border: 1px solid #888 !important;}
.btn_lightgray {color:#fff !important; background: #999; border: 1px solid #999 !important;}
.btn_black {color:#fff !important; background: #000; border: 1px solid #000 !important;}
.btn_border_black {color:#000 !important; background: #fff; border: 1px solid #000 !important;}
.btn_border_black.active {color: #f70061 !important; background: #fff; border: 1px solid #f70061 !important;}
.btn_orange {color:#fff !important; background: #ee782f; border: 1px solid #ee782f !important;}

.btn_round {border-radius: 50px;}

.btn_close {display: inline-block; width: 14px; height: 14px; padding: 0; line-height: 14px; background: url('../../user/images/common/ic_close.png') center center no-repeat; vertical-align: middle;}


/* Icon */
.icon {display: inline-block; text-indent: -9999px;}


/* Label */
.label {display: inline-block; padding: 1px 3px; font-size: 14px;}


/* Img wrap */
.img_wrap {position: relative; width: 100%; height: 0; padding-bottom: 85%; overflow: hidden;}
.img_wrap .img_box {position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; overflow: hidden;}
.img_wrap .img_box img {display: block; height: 100%;}


/* 말줄임 */
/* .ellipsis {overflow: hidden;}
.ellipsis:before {float: left; width:1px; content: "";}
.ellipsis>*:first-child {float: right; width: 100%; margin-left: -1px}
.ellipsis:after {position: relative; top: 38px; left: 100%; float: right; width: 23px; margin-left: -23px; text-align: right; color: #777777; content: "\02026";
box-sizing: content-box;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
background: -webkit-gradient(linear, left top, right top,from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
} */
.ellipsis1 {text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden;}
.ellipsis2 {display: block; display: -webkit-box; max-height: 41px; overflow: hidden; -webkit-box-orient: vertical; text-overflow: ellipsis; -webkit-line-clamp: 2; /* 라인수 */}
.ellipsis3 {display: block; display: -webkit-box; height: 77px; line-height: 22px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical;  word-wrap: break-word; -webkit-line-clamp: 3; /* 라인수 */}


/* shortcut */
.shortcut a {position: absolute; left: -99999%; text-decoration: none;}
.shortcut a:focus {display: block; left: 0; top: 0; z-index: 999999; width: 100%; height: 30px; line-height: 30px; background: #000; color: #fff; text-align: center; font-weight: 400;}





/************************************************************************************
Header st.
*************************************************************************************/
.header_wrap {border-bottom: 1px solid #000;}
.header_wrap .logo {float: left; width: 200px; height: 80px; color: #000; line-height: 80px; text-align: center; font-size: 26px; font-weight: 500; letter-spacing: 2px; /* background: url('../../user/images/common/logo.png') center bottom 10px no-repeat; background-size: 140px; text-indent: -9999px; */}

.header_wrap .gnb {float: right; width: calc(100% - 200px);}

.header_wrap .utill  {text-align: right; font-size: 0;}
.header_wrap .utill li {display: inline-block; padding: 10px 0 0;}
.header_wrap .utill li a {display: block; height: 12px; padding: 0 10px; font-size: 13px; line-height:12px; border-right: 1px solid #aaa;}
.header_wrap .utill li:last-child a {padding-right: 0; border-right: 0;}

.header_wrap nav {text-align: center;}
.header_wrap nav > a {display: inline-block; height: 58px; color: #000; line-height: 58px; padding: 0 50px; font-size: 18px; font-weight: 600;}
.header_wrap nav > a:hover {color: #5094bf;}




/************************************************************************************
Footer st.
*************************************************************************************/
.footer_wrap {padding: 10px 0 15px; color: #fff; background: #000;}

.footer_wrap .footer_menu ul:after {display: block; visibility: hidden; clear: both; content: "";}
.footer_wrap .footer_menu ul > li {float: left; padding: 10px 0;}
.footer_wrap .footer_menu ul > li a {display: block; height: 10px; padding: 0 10px; line-height: 10px; font-size: 13px; color: #fff; border-left: 1px solid #fff;}
.footer_wrap .footer_menu ul > li:first-child a {padding-left: 0; border-left: 0;}

.copyright {padding-top: 10px;}
.copyright .inner p {font-size: 12px; line-height: 24px;}
.copyright .inner p > span {padding: 10px 20px 10px 0;}

.go_top {position: fixed; bottom: 20px; right: 20px; display: block; width: 48px; height: 48px; text-indent: -9999px; background: url('../../user/images/common/btn_top.png') center center no-repeat; opacity: 0; -webkit-transition: all .2s ease; -moz-transition: all .2s ease; -o-transition: all .2s ease; -ms-transition: all .2s ease; transition: all .2s ease; z-index: 10;}
.go_top.active {opacity: 0.6;}




/************************************************************************************
Main st.
*************************************************************************************/
.main_visual {width: 100%;}
.main_visual .main_slide_wrap {position: relative;}
.main_visual .main_slide div {height: 550px; text-indent: -9999px; background-size: auto 100% !important;}

.main_visual .slick-dots {position: absolute; left: 0; right: 0; bottom: 30px; width: 100%; text-align: center;}
.main_visual .slick-dots li {display: inline-block; height: 12px; margin: 0 5px; padding: 0;}
.main_visual .slick-dots li button {width: 12px; height: 12px; text-indent: -9999px; border-radius: 50%; background: #fff;}
.main_visual .slick-dots li.slick-active button {background: #000;}

.main_goods {padding-top: 40px; border-bottom: 1px solid #ddd;}
.main_goods.discount {border-bottom: 0;}

.main_goods .title {font-size: 24px; margin-bottom: 20px; font-weight: 600; color: #000; text-align: center; letter-spacing: 1px;}
.main_goods .title:after {display: block; visibility: hidden; clear: both; content: "";}

.main_goods ul:after {display: block; visibility: hidden; clear: both; content: "";}
.main_goods ul > li {float: left; width: 23%; margin-right: 2.6%;}
.main_goods ul > li:nth-child(4n+4) {margin-right: 0;}
.main_goods ul > li > a > span {display: block;}
.main_goods .btn_more {display: block; width: 120px; margin: 30px auto 40px; font-size: 14px;}

.main_goods .img_wrap {display: block; width: 100%; border: 1px solid #ddd;}

.main_goods .txt_wrap {display: block; margin-top: 10px; text-align: center;}
.main_goods .txt_wrap .name {font-size: 15px; font-weight: 600; margin-bottom: 3px;}
.main_goods .txt_wrap .price {font-size: 17px; font-weight: 600; color: #ee782f;}
.main_goods .txt_wrap del {font-weight: 600; color: #999;}



/************************************************************************************
Contents st.
*************************************************************************************/
html {min-width: 320px;  overflow-x: hidden;}


/* Contents */
.inner {width: 1200px; margin: 0 auto;}

#container {min-height: calc(100vh - 194px); padding-bottom: 30px; background: #f6f6f6;}

.tab_cont {display: none;}
.page_title {margin-bottom: 20px; font-size: 26px; font-weight: 500;}


/* 목록 */
.sub_goods {border-bottom: 0;}

.sub_goods .title {font-size: 16px; text-align: left; line-height: 30px; letter-spacing: -0.5px;}

.sub_goods .search_wrap {float: right;}
.sub_goods .search_wrap > div {display: inline-block;}

.search_wrap > div input {height: 30px; font-size: 13px;}
.search_wrap > div select {height: 30px; font-size: 13px;}
.search_wrap .btn_search {width: 30px; height: 30px; text-indent: -9999px; background: #000 url('../../user/images/common/ic_search_white.png') center center no-repeat;}

.sub_goods ul > li {margin-bottom: 20px;}

/* Paging */
.paging {margin: 35px 0 50px; text-align: center; font-size: 0;}
.paging a {display: inline-block; vertical-align: middle; margin: 0 10px; line-height: 25px; font-size: 16px; color: #999;}
.paging a:hover {color: #000;}
.paging a.active {color: #000; border-bottom: 1px solid #08614d;}

.paging a.btn_arrow {width: 25px; height: 25px; padding: 0; text-indent: -9999px; border: 1px solid #ddd; background-size: auto 10px !important;}
.paging a.btn_previous {margin-right: 15px; margin-left: 5px; background: #fff url('../../user/images/common/ic_arrow_prev.png') center center no-repeat;}
.paging a.btn_first {margin-right: 0; background: #fff url('../../user/images/common/ic_arrow_prev_db.png') center center no-repeat;}
.paging a.btn_next {margin-left: 15px; margin-right: 5px; background: #fff url('../../user/images/common/ic_arrow_next.png') center center no-repeat;}
.paging a.btn_last {margin-left: 0; background: #fff url('../../user/images/common/ic_arrow_next_db.png') center center no-repeat;}

.paging a.btn_arrow:hover {border: 1px solid #000; background-size: auto 10px !important;}
.paging a.btn_previous:hover {background: #000 url('../../user/images/common/ic_arrow_prev_on.png') center center no-repeat;}
.paging a.btn_first:hover {background: #000 url('../../user/images/common/ic_arrow_prev_db_on.png') center center no-repeat;}
.paging a.btn_next:hover {background: #000 url('../../user/images/common/ic_arrow_next_on.png') center center no-repeat;}
.paging a.btn_last:hover {background: #000 url('../../user/images/common/ic_arrow_next_db_on.png') center center no-repeat;}


/* 상세 */
.view {padding-top: 40px;}

.view .slide_wrap {float: left; width: 55%; padding-right: 50px;}
.view .slide_wrap .slide {width: 100%;}
.view .slide_wrap .slide_pager {margin-top: 20px;}
.view .slide_wrap .slide_pager div.slick-slide {position: relative; text-align: center; outline: none;}
.view .slide_wrap .slide_pager div.slick-slide img {display: inline-block; width: 90%; vertical-align: middle; border: 1px solid #ddd;}
.view .slide_wrap .slide_pager div.slick-current:after {position: absolute; top: 0; right: 5%; bottom: 0; left: 5%; border: 2px solid #ee782f; content: "";}

.view .pd_info_wrap {float: right; width: 45%;}

.view .pd_title_wrap {position: relative; padding-bottom: 20px; border-bottom: 1px solid #ddd;}
.view .pd_title_wrap .pd_title {font-size: 30px; font-weight: 600; color: #000;}
.view .pd_title_wrap .pd_price {margin-top: 5px; font-size: 24px; color: #ee782f; font-weight: 600;}
.view .pd_title_wrap .pd_review {position: absolute; right: 0; bottom: 20px;}
.ic_star {display: block; width: 64px; height: 11px; background-size: 100% !important;}
.ic_star.ic_star1 {background: url('../../user/images/common/ic_star1.png') center center no-repeat;}
.ic_star.ic_star2 {background: url('../../user/images/common/ic_star2.png') center center no-repeat;}
.ic_star.ic_star3 {background: url('../../user/images/common/ic_star3.png') center center no-repeat;}
.ic_star.ic_star4 {background: url('../../user/images/common/ic_star4.png') center center no-repeat;}
.ic_star.ic_star5 {background: url('../../user/images/common/ic_star5.png') center center no-repeat;}

.view .pd_option_wrap .pd_option {margin-top: 20px;}
.view .pd_option_wrap .pd_option .tit {margin-bottom: 10px; font-size: 16px; font-weight: 500;}
.view .pd_option_wrap .pd_option .tit span {margin-left: 10px; color: #999;}

.view .pd_option_wrap .pd_option.option_color {padding-right: 50px; font-size: 0;}
.view .pd_option_wrap .pd_option.option_color .radio_color {display: inline-block; margin-right: 10px; margin-bottom: 10px; vertical-align: top;}
.view .pd_option_wrap .pd_option.option_color .radio_color input {display: none;}
.view .pd_option_wrap .pd_option.option_color .radio_color span {position: relative; display: block; width: 60px; height: 50px; overflow: hidden;}
.view .pd_option_wrap .pd_option.option_color .radio_color span img {max-width: calc(100% - 2px); max-height: calc(100% - 2px); border: 1px solid #ddd;}
.view .pd_option_wrap .pd_option.option_color .radio_color:hover span img {border-color: #ee782f;}
.view .pd_option_wrap .pd_option.option_color .radio_color input:checked + span:after {position: absolute; top: 0; right: 0; bottom: 0; left: 0; border: 2px solid  #ee782f; content: "";}

.view .pd_option_wrap .pd_option.option_size {padding-right: 50px; font-size: 0;}
.view .pd_option_wrap .pd_option.option_size .radio_size {display: inline-block; margin-right: 10px; margin-bottom: 10px; vertical-align: top;}
.view .pd_option_wrap .pd_option.option_size .radio_size input {display: none;}
.view .pd_option_wrap .pd_option.option_size .radio_size span {display: block; width: 60px; height: 40px; text-align: center; letter-spacing: 0; font-size: 14px; line-height: 40px; background: #fff; border: 1px solid #ddd;}
.view .pd_option_wrap .pd_option.option_size .radio_size:hover span {color: #ee782f; border-color: #ee782f;}
.view .pd_option_wrap .pd_option.option_size .radio_size input:checked + span {color: #fff; background: #ee782f; border-color: #ee782f;}
.view .pd_option_wrap .pd_option.option_size .radio_size.soldout:hover {cursor: default;}
.view .pd_option_wrap .pd_option.option_size .radio_size.soldout span {color: #999; background: #f1f1f1;}
.view .pd_option_wrap .pd_option.option_size .radio_size.soldout:hover span {color: #999; border-color: #ddd;}

.view .option_quantity input {width: 60px; text-align: center;}
.view .option_quantity button {width: 40px; height: 40px; text-indent: -9999px; vertical-align: middle; color: #666; border: 1px solid #ddd;}
.view .option_quantity button.btn_plus {background: #fff url('../../user/images/common/ic_plus.png') center center no-repeat;}
.view .option_quantity button.btn_minus {background: #fff url('../../user/images/common/ic_minus.png') center center no-repeat;}

.view .pd_info_wrap .btn_wrap {margin-top: 30px; font-size: 0;}
.view .pd_info_wrap .btn_wrap .btn {display: inline-block; width: 48%; height: 50px; line-height: 50px;}
.view .pd_info_wrap .btn_wrap .btn_black {margin-right: 4%;}
.view .pd_info_wrap .btn_wrap .btn_gray {margin-right: 4%;}

.view .pd_detail_wrap {padding-top: 100px;}
.view .pd_detail_wrap .pd_detail_tab {margin-bottom: 50px;}
.view .pd_detail_wrap .pd_detail_tab a {display: inline-block; margin: 0 15px; font-size: 17px; color: #666;}
.view .pd_detail_wrap .pd_detail_tab a.active {color: #000; font-weight: 600;}

.view .pd_detail_wrap .pd_detail img {max-width: 100%;}

.view .pd_detail_wrap .pd_delivery dl dt {margin: 25px 0 5px; font-size: 14px; font-weight: 500;}
.view .pd_detail_wrap .pd_delivery dl dd {font-size: 12px; color: #555; line-height: 20px;}

.view .pd_detail_wrap .pd_review > p {margin-bottom: 15px; font-size: 14px; line-height: 40px;}
.view .pd_detail_wrap .pd_review > p strong {font-size: 16px; font-weight: 500;}
.view .pd_detail_wrap .pd_review ul {border-top: 1px solid #ddd;}
.view .pd_detail_wrap .pd_review ul li {padding: 15px 0; border-bottom: 1px solid #ddd;}
.view .pd_detail_wrap .pd_review ul li .re_title {margin-bottom: 10px; font-size: 13px; letter-spacing: 0; color: #888;}
.view .pd_detail_wrap .pd_review ul li .re_title span {margin-right: 20px;}
.view .pd_detail_wrap .pd_review ul li .ic_star {display: inline-block;}
.view .pd_detail_wrap .pd_review ul li .re_cont {font-size: 14px; line-height: 24px;}


/* 리뷰 팝업 */
#reviewPop .popup_inner {max-width: 500px; width: 500px;}
#reviewPop .popup_contents {padding: 15px 25px 25px;}

#reviewPop .review_info > div {display: inline-block; vertical-align: middle;}
#reviewPop .review_info .img_box {width: 100px;}
#reviewPop .review_info .img_box img {width: 100%;}
#reviewPop .review_info .txt_box {width: calc(100% - 110px); padding-left: 20px;}
#reviewPop .review_info .txt_box p {font-size: 16px; color: #333;}
#reviewPop .review_info .txt_box strong {font-size: 16px; font-weight: 500; color: #ee782f;}

#reviewPop .review_star {margin: 20px 0; text-align: center;}
#reviewPop .review_star .ic_star_lg {width: 30px; height: 30px; margin: 0 2px; cursor: pointer; background: url('../../user/images/common/ic_star_off_lg.png') center center no-repeat;}
#reviewPop .review_star .ic_star_lg.active {background: url('../../user/images/common/ic_star_on_lg.png') center center no-repeat;}

#reviewPop .review_cont textarea {height: 100px;}
#reviewPop .review_cont .filebox {margin-top: 20px;}
#reviewPop .review_cont .add_photo {margin-top: 10px; font-size: 0;}
#reviewPop .review_cont .add_photo li {position: relative; display: inline-block; margin-right: 10px; vertical-align: top; width: 70px; height: 59px; overflow: hidden; border: 1px solid #ddd;}
#reviewPop .review_cont .add_photo li img {width: 100%;}
#reviewPop .review_cont .add_photo li .btn_delete {position: absolute; top: 0; right: 0; width: 18px; height: 18px; text-indent: -9999px; background: #ddd url('../../user/images/common/ic_delete.png') center center no-repeat; background-size: 10px;}
#reviewPop .btn_wrap {margin-top: 20px; text-align: center;}
#reviewPop .btn_wrap .btn {width: 120px;}


/* Form */
.form_write table {table-layout: fixed;}
.form_write table th {height: 50px; padding: 15px 10px; font-weight: 500; text-align: right; vertical-align: top; font-size: 14px; color: #000; -ms-word-break: keep-all; word-break: keep-all;}
.form_write table td {height: 50px; padding: 5px 10px; font-size: 14px; color: #565656;}

.form_write dl {margin-bottom: 10px;}
.form_write dl dt {margin-bottom: 5px; padding-left: 10px; text-align: left; font-size: 14px; color: #555; background: url('../../user/images/common/ic_bul.png') left top 11px no-repeat;}

.form_write span {display: inline-block; font-size: 12px; color: #7d7d7d;}
.form_write span.msg{display: inline-block; font-size: 13px; color: #e65f3e;}
.form_write span.text {padding: 0 2px;}
.form_write span.info_text {padding-left: 5px;}
.form_write input[type='text'],
.form_write input[type='password'] {width: 100%; height: 35px; font-size: 13px;}
.form_write input.type1 {width: calc(100% - 104px);}
.form_write input.type2 {width: 30%;}
.form_write input.type3 {width: 32%;}
.form_write input.type4 {width: 32%;}
.form_write input.type5 {width: 32%;}
.form_write select {width: 100%; height: 35px; font-size: 13px;}
.form_write select.type1 {width: 30%;}
.form_write .btn {width: auto; width: 100px; height: 35px; padding: 0; text-align: center; line-height: 35px; font-size: 13px;}

.form_write .text1 {margin-top: 15px; font-size: 16px; color: #565656; font-weight: 500;}
.form_write .text1 img {margin-right: 10px;}


/* Login */
.login_wrap {width: 400px; margin: 0 auto; padding: 40px 0 0; text-align: center;}
.login_wrap .page_title {margin-bottom: 20px; font-size: 26px; font-weight: 500;}
.login_wrap .login .input_box {display: block; width: 100%; height: 50px; margin-bottom: 10px; padding: 0 30px; font-size: 16px;}
.login_wrap .login .find_wrap {margin: 15px 0; text-align: right; font-size: 0;}
.login_wrap .login .find_wrap a {display: inline-block; vertical-align: middle; height: 15px; padding: 0 15px; line-height: 15px; font-size: 14px; font-weight: 300; color: #565656; border-right: 1px solid #888;}
.login_wrap .login .find_wrap a:last-child {border-right: 0;}
.login_wrap .login .btn_wrap {font-size: 0;}
.login_wrap .login .btn_wrap .btn {width: 100%; height: 50px; margin-bottom: 10px; padding: 0; line-height: 50px; font-size: 16px;}

.login_wrap .info_box {margin-bottom: 20px; font-size: 14px; color: #666; line-height: 24px;}
.login_wrap .find .input_box {display: block; width: 100%; height: 50px; margin-bottom: 10px; padding: 0 30px; font-size: 16px;}
.login_wrap .find .btn_wrap {font-size: 0;}
.login_wrap .find .btn_wrap .btn {width: 100%; height: 50px; margin-bottom: 10px; padding: 0; line-height: 50px; font-size: 16px;}

.login_wrap .result_box {margin-bottom: 30px; padding: 30px 15px; text-align: center; color: #565656; font-size: 16px; line-height: 22px; background: #fff; -ms-word-break: keep-all; word-break: keep-all;}
.login_wrap .result_box p {font-size: 15px; font-weight: 400; line-height: 26px; letter-spacing: -0.5px;}


/* Join */
.join_box {width: 400px; margin: 0 auto; padding: 40px 0; text-align: center;}
.join_box .page_title {margin-bottom: 20px; font-size: 26px; font-weight: 500;}
.join_box .box {margin-bottom: 20px; text-align: left;}
.join_box .box_title {margin-bottom: 5px; padding-left: 10px; text-align: left; font-size: 16px; background: url('../../user/images/common/ic_bul.png') left center no-repeat;}
.join_box .agree_box textarea {height: 150px; margin-bottom: 5px; font-size: 13px;}

.join_com_box .box > img {width: 80px; margin-bottom: 20px;}
.join_com_box .box > p {font-size: 16px; line-height: 26px;}
.join_com_box .box > table {margin: 20px 0 30px; text-align: left;}
.join_com_box .box > table tr:first-child {border-top: 1px solid #000;}
.join_com_box .box > table tr {border-bottom: 1px solid #ddd;}
.join_com_box .box > table th {height: 45px; text-align: center;}
.join_com_box .box > table td {height: 45px; padding-left: 20px;}


/* 장바구니 */
.cart_wrap {padding-top: 40px;}

.table {display: table; width: 100%;}
.table.table_head {height: 40px; text-align: center; border-top: 1px solid #000; border-bottom: 1px solid #ddd;}
.table .table_row {display: table-row;}
.table .table_row > * {display: table-cell; vertical-align: middle;}
.table.table_body .table_row > * {border-bottom: 1px solid #ddd;}

.cart_wrap .cart {float: left; width: calc(100% - 350px);}
.cart_wrap .table .table_row > * {text-align: center;}
.cart_wrap .table .table_row > .col1 {width: 60px;}
.cart_wrap .table .table_row > .col2 {}
.cart_wrap .table .table_row > .col3 {width: 120px;}
.cart_wrap .table .table_row > .col4 {width: 120px;}

.cart_wrap .table.table_body .table_row > * {height: 120px}
.cart_wrap .table.table_body .table_row > .col2 {text-align: left; line-height: normal;}

.cart_wrap .table .img_box {display: inline-block; vertical-align: middle; width: 110px;}
.cart_wrap .table .img_box img {width: 100%;}
.cart_wrap .table .txt_box {display: inline-block; vertical-align: middle; width: calc(100% - 120px); padding-left: 20px;}
.cart_wrap .table .txt_box p {font-size: 13px; color: #666;}
.cart_wrap .table .txt_box p.name {margin-bottom: 5px; color: #333; font-weight: 500;}
.cart_wrap .table .btn {width: 80px; height: 30px; padding: 0; line-height: 28px; font-size: 12px;}
.cart_wrap .table .col2 .btn {width: auto; height: 23px; margin-top: 5px; padding: 0 5px; line-height: 21px; font-size: 12px;}
.cart_wrap .table .btn_gray {margin-top: 5px;}

.cart_wrap .sm_btn_wrap {margin-top: 10px;}
.cart_wrap .sm_btn_wrap .btn {width: auto; height: 23px; margin-right: 3px; padding: 0 5px; line-height: 23px; font-size: 12px; border-radius: 5px;}

.total_price {float: right; width: 300px; padding: 0 25px 25px; background: #eee; border-bottom: 2px solid #ddd;}
.total_price .price {margin-bottom: 25px;}
.total_price .price p {padding-top: 20px; vertical-align: middle; font-size: 16px;}
.total_price .price p.last {margin-top: 20px; border-top: 1px solid #ddd;}
.total_price .price p:after {display: block; visibility: hidden; clear: both; content: "";}
.total_price .price p span {float: left; line-height: 20px; margin-right: 5px; font-size: 14px; color: #888;}
.total_price .price p strong {float: right; font-size: 14px; font-weight: 400; line-height: 20px; color: #333;}
.total_price .price p strong.orange {font-size: 20px; font-weight: 500;}

.total_price .btn_wrap .btn {width: 100%;}
.total_price .btn_wrap .btn_gray {margin-top: 10px;}

#optionPop .popup_inner {width: 450px;}
#optionPop .popup_contents {padding: 0 25px 25px;}
#optionPop .popup_contents .pd_info_wrap {width: 100%;}


/* 주문/결제 */
.order_wrap {padding-top: 40px;}

.order_wrap .box {margin-bottom: 30px; padding: 15px 25px; background: #eee; border-bottom: 2px solid #ddd;}
.order_wrap .box_title {margin-bottom: 15px; font-size: 16px; font-weight: 500;}
.order_wrap .box > div {color: #777; line-height: 26px;}

.order_wrap .pd_box li {margin-bottom: 10px;}
.order_wrap .pd_box li:last-child {margin-bottom: 0;}
.order_wrap .pd_box .img_box {display: inline-block; vertical-align: middle; width: 110px;}
.order_wrap .pd_box .img_box img {width: 100%;}
.order_wrap .pd_box .txt_box {display: inline-block; vertical-align: middle; width: calc(100% - 120px); padding-left: 20px;}
.order_wrap .pd_box .txt_box p {font-size: 13px; color: #666;}
.order_wrap .pd_box .txt_box p.name {margin-bottom: 5px; color: #333; font-weight: 500;}

.order_wrap .addredd_set .btn {width: auto; height: 25px; padding: 0 10px; line-height: 23px; font-size: 12px;}

.order_wrap .pay_box div {font-size: 0;}
.order_wrap .pay_box div button {width: 200px; height: 60px; margin-right: 10px; font-size: 16px; background: #fff; color: #000; border: 1px solid #ddd;}
.order_wrap .pay_box div button.active {color: #fff; background: #000; border: 1px solid #000;}
.order_wrap .pay_box .btn_wrap {margin-top: 20px;}
.order_wrap .pay_box .btn_wrap .btn {width: 100%; height: 45px; line-height: 45px; font-size: 16px;}

#addressPop .popup_inner {width: 600px;}
#addressPop .popup_contents {padding: 0 25px 25px;}
#addressPop .table.table_body .table_row > * {height: 80px; text-align: center;}
#addressPop .table .table_row > .col1 {width: 90px;}
#addressPop .table .table_row > .col2 {}
#addressPop .table .table_row > .col3 {width: 120px;}
#addressPop .table .table_row > .col4 {width: 80px;}
#addressPop .table .label_basic {display: block; width: 70px; height: 20px; margin: 2px auto 0; padding: 0; line-height: 18px; text-align: center; color: #ee782f; font-size: 12px; border: 1px solid #ee782f;}
#addressPop .table .btn {width: auto; height: 25px; margin-top: 5px; padding: 0 10px; line-height: 23px; font-size: 12px; -webkit-transition: all .2s ease; -moz-transition: all .2s ease; -o-transition: all .2s ease; -ms-transition: all .2s ease; transition: all .2s ease;}
#addressPop .table .btn:hover {color: #fff !important; background: #000; border: 1px solid #000;}

.order_com_wrap .com_box > img {width: 80px; margin-bottom: 20px;}
.order_com_wrap .com_box > p {margin-bottom: 20px; font-size: 20px;}
.order_com_wrap .user_box {float: left; width: 48.5%; margin-right: 3%}
.order_com_wrap .pay_box {float: right; width: 48.5%;}
.order_com_wrap .box > div {line-height: normal;}
.order_com_wrap .form_write dl dt {display: inline-block; vertical-align: top; width: 95px; line-height: 26px !important; margin-bottom: 0;}
.order_com_wrap .form_write dl dd {display: inline-block; vertical-align: top; width: calc(100% - 100px); line-height: 26px !important; font-size: 14px;}